.gradle
org.demo.protractor.ui.ng2/bower_components
org.demo.protractor.ui.ng2/node_modules
org.demo.protractor.ui.ng2/report
org.demo.protractor.ui.ng2/typings
org.demo.protractor.ui/bower_components
jacoco-report
jacoco-it.exec
bin_test/
org.demo.protractor.ui.ng2/.idea
org.demo.protractor.ui/report
