.clickable {
	padding: 3px 20px;
	cursor: hand;
	display: block;
}

span.clickable:hover,
span.clickable:focus {
      text-decoration: none;
      color: #141414;
      background-color: #eeeeee;
  }