<style>
    .badge:hover {
        background-color: orangered;
    }
    .list-options {
        float: right;
        vertical-align: middle;
        display: inline-block;
    }
    [hidden] {
        display: none;
    }
    .ng-valid[required] {
      border-left: 5px solid #42A948; /* green */
    }
    .ng-invalid {
      border-left: 5px solid orange; /* orange */
    }
</style>
<button type="submit" class="btn btn-primary" ng-click="todolistCtrl.addNewList()">Add new To Do List</button>
<div class="panel panel-default" ng-repeat="todoList in todolistCtrl.todos">
  <div class="panel-heading">
    <h3 class="panel-title">To Do List ({{ $index + 1 }}) &nbsp;<span class="badge">{{todoList.list.length}}</span><span ng-click="todolistCtrl.removeList($index)" class="pull-right glyphicon glyphicon-remove"></span></h3>
  </div>
  <div class="panel-body todo-list">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <form ng-submit="todoList.addTodo()" name="form">
                    <label for="todo">To Do</label>
                    <span ng-hide="form.name.$valid" class="badge badge-warning">Required</span>
                    <div class="form-inline">
                        <input required ng-model="todoList.todo.name" name="name" id="todo" type="text" class="form-control" size="50">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <ul class="list-group" dnd-list="todoList.list">
                <li ng-repeat="item in todoList.list"
                    class="list-group-item"
                    dnd-draggable="item"
                    dnd-moved="todoList.list.splice($index, 1)"
                    dnd-effect-allowed="move"
                    dnd-selected="models.selected = item">
                <span title="Remove todo" class="badge" ng-click="todoList.delTodo($index)">x</span>
                <label><input type="checkbox" ng-model="todo.done"> {{item.name}}</label>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>
